body {
  background: #eb01a5;
  background-image: url("/images/spaceport.jpg"), linear-gradient(#eb01a5, #d13531);
  background-position: center;
  background-repeat: no-repeat;
}

header {
  font-family: "Times New Roman", Times, serif;
  color: azure;
}

footer {
  font-family: "Times New Roman", Times, serif;
  color: azure;
}

h1 {
  font-family: "Times New Roman", Times, serif;
  color: azure;
}

table {
  width: 50%;
  border-spacing: 0px;
}

th, td {
    padding: 5px 30px 5px 10px;
    border-spacing: 0px;
    font-size: 90%;
    margin: 0px;
    text-align: left;
    background-color: inherit;
    border: 1px solid white;

}

tr {
  font-family: "Times New Roman", Times, serif;
  color: azure;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
}

li {
  font-family: "Times New Roman", Times, serif;
  color: azure;
}

td a {
  color: azure;
}

p {
  color: azure;
}

li a {
    display: block;
    color: #e6e6e6;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: white;
}

p.full {
  color: #ff3300;
  font-size: 120%;
}

p.medium {
  color: #ff9900;
  font-size: 120%;
}

p.empty {
  color: #33cc33;
  font-size: 120%;
}

table.ship {
  width: 15%;
}

label {
  color: #f2f2f2;
}
